<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <script src="/javascripts/module.js"></script>
    <script src="/javascripts/services.js"></script>
    <script src="/javascripts/controllers.js"></script>
  </head>
  <body ng-app='debateApp' ng-controller='mainController'>

    <ul>
      <li ng-repeat='tweet in tweets'>
        {{tweet}}
      </li>
    </ul>




  </body>
</html>
