<!DOCTYPE html>
<html>
  <head>
    <title>Who Is Winning?</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <script src="/bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="/javascripts/angular-chart.min.js"></script>
    <script src="/javascripts/module.js"></script>
    <script src="/javascripts/services.js"></script>
    <script src="/javascripts/controllers.js"></script>
  </head>
  <body ng-app='debateApp' ng-controller='mainController'>
    <div class="container">
      <div class="head">
        <h1 class="pg-title">Who Is Winning?</h1>
      </div>
      <div class="lead" ng-model="winner">
        <!-- <span ng-if="response">{{winner}}</span> -->
      </div>

      <canvas id="doughnut" class="chart chart-doughnut"
        chart-data="data" chart-labels="labels" chart-colors="colors">
      </canvas>
      <!-- <ul>
        <li ng-repeat='tweet in tweets track by $index'>
          {{tweet}}
        </li>
      </ul> -->
    </div>




  </body>
</html>
