<!DOCTYPE html>
<html>
  <head>
    <title>Who Is Winning?</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />



    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <script src="/bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="/javascripts/angular-chart.min.js"></script>
    <script src="/javascripts/module.js"></script>
    <script src="/javascripts/services.js"></script>
    <script src="/javascripts/controllers.js"></script>
  </head>
  <body ng-app='debateApp' ng-controller='mainController'>
    <div class="container">
      <!-- <div class="input-field col s12">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1" red>Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>Materialize Select</label>
      </div> -->

      <div class="head">
        <h1 class="pg-title">Who Is Winning?</h1>
      </div>
      <div class="lead" ng-model="winner">
        <!-- <span ng-if="response">{{winner}}</span> -->
      </div>

      <div class="col s6">
      <canvas id="doughnut" class="chart chart-doughnut"
        chart-data="data" chart-labels="labels" chart-colors="colors">
      </canvas>
      </div>
      <div class="col s6">

        </div>
      </div>
    </div>







  </body>
</html>
