<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <script src="/bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="/javascripts/angular-chart.min.js"></script>
    <script src="/javascripts/module.js"></script>
    <script src="/javascripts/services.js"></script>
    <script src="/javascripts/controllers.js"></script>
  </head>
  <body ng-app='debateApp' ng-controller='mainController'>

    <canvas id="doughnut" class="chart chart-doughnut"
      chart-data="data" chart-labels="labels" chart-colors="colors">
    </canvas>
    <!-- <ul>
      <li ng-repeat='tweet in tweets track by $index'>
        {{tweet}}
      </li>
    </ul> -->




  </body>
</html>
