@-webkit-keyframes swing {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@-moz-keyframes swing {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@-o-keyframes swing {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes swing {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}


body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.head {
  /*margin-top: 0px;*/
}

h1.pg-title {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 7.5em;
  margin-bottom: 15px;
  font-weight: 700;
}

div.lead {
  text-align: center;
  margin-bottom: 52px;
  color: #80deea;
  font-size: 65px;
  font-family: 'Open Sans Condensed', sans-serif;
}

a {
  color: #00B7FF;
}

ul.dropdown-content li {
  color: red;
}

.hillary {
  height: 230px;
  width: 230px;
  -webkit-animation: swing 1s infinite;
  -moz-animation: swing 1s infinite;
  -o-animation: swing 1s infinite;
  animation: swing 1s infinite;
  animation-timing-function: ease;
}
